body{
    margin: 0%;
    background-color: lightcyan;
    color: rgb(56, 48, 48);
    
}

a{
    color: chartreuse;
}

a:hover{
    color: red;
}

a:visited{
    color: black;
}

div{
    margin-top: 10px;
    margin-bottom: 10px;
}

.example-box{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 10px;
    background-color: rgb(165, 168, 132);
    border-style: solid;
}

.example-box p{
    font-size: 18px;
}

.example-box li{
    text-align: left;
    margin-left: 5em;
    margin-right: 5em;
}

.example-box ol ul{
    padding-inline-start: 0em;
    padding-inline-end: 5em;
    list-style-type: lower-latin;
}

.example-box dt{
    margin-right: 10em;
}

.section-heading{
    text-align: center;
    background-color: rgb(235, 230, 160);
    width: auto;
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.last{
    margin-bottom: 0px !important;
    border-bottom-color: rgb(235, 230, 160);
}

.line-example{
    width: 21em;
    border-width: 65px;
    border-color: darkcyan;
}

.line-example:nth-of-type(2){
    width: 17em;
    border-width: 50px;
    border-color: darkgoldenrod;
}

.line-example:nth-of-type(3){
    width: 13em;
    border-width: 30px;
    border-color: darkred;
}

.line-example:nth-of-type(4){
    width: 10em;
    border-width: 15px;
    border-color: darkgreen;
}

.line-example:nth-of-type(5){
    width: 7em;
    border-width: 10px;
    border-color: darkmagenta;
}

.line-example:nth-of-type(6){
    width: 3em;
    border-width: 5px;
    border-color: dimgray;
}

table{
    text-align: center;
    margin: auto;
    width: 50%;
    border: 2px solid rgb(0, 0, 0);
}

td, th{
    border: 2px solid rgb(0, 0, 0);
}

th:nth-of-type(1)
{
    background-color: rgb(89, 123, 153);
    color: aqua;
}

th:nth-of-type(2)
{
    background-color: rgb(172, 126, 66);
    color: chartreuse;
}

#t1{
    background-color: rgb(196, 37, 37);
    color: rgb(131, 75, 112);
}

#t2{
    background-color: rgb(76, 194, 21);
    color: rgb(0, 4, 255);
}

#t3{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#s1{
    background-color: rgb(51, 255, 0);
    color: rgb(0, 255, 200);
}

#s2{
    background-color: rgb(255, 196, 0);
    color: rgb(21, 22, 61);
}

#s3{
    background-color: rgb(76, 84, 190);
    color: rgb(255, 0, 0);
}